html, body {
    height: 100%;
}

body {
    margin:0;
    padding:0;
}

* {
    box-sizing: border-box;
}

body, input {
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    color:#292929;
}
